<%- include("partials/header"); -%>
<div class="center-ceontent">
<h1 class="mb-5 text-center" >ترقی پسند تحریک و تنقید</h1>

<div id="progressivemovement">
    <% progressiveMovementPosts.reverse().forEach(function(post){ %>
        <div class="composed-post">
            <h2 class="mb-3 mt-3">
                <%= post.title %>
            </h2>
            <p>
                <%= post.content.substring(0, 100) + '...' %>
                    <a href="/progressivemovement/<%- post.title -%>">read more</a>
            </p>
        </div>
        <% }) %>
</div>

</div>
<%- include("partials/footer"); -%>